.logo {
	background: lightgreen;
	border: solid black 2px;
	width: 960px;
	height: 255px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.navigate{
	background: yellow;
	border: solid black 2px;
	width: 960px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.navigate nav{
	display: flex;
	justify-content: space-around;
	margin-top: 2px;
}

.content{
	width: 960px;
	height: 520px;
	border: solid black 2px;
	background: cyan;
	margin-left: auto;
	margin-right: auto;
	
}

.ct-block{

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;

	margin-left: auto;
	margin-right: auto;
    text-align: center;
	border: solid black 3px;
}

.device-block{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 550px;

	margin-left: auto;
	margin-right: auto;
    text-align: center;
	border: solid black 3px;
}


.cards {
    display: flex;

    /* Добавить следующую карточку в ряд при заполнении всего простратнства предудущей карточкой */
    flex-wrap: wrap;

    margin-left: 15px;
    margin-right: -8px;
}

.cards__item {
    /* Создаст 4 карточки в ряд */
    flex-basis: 22.5%;
    height: 80px;
    border: solid black 1px;
    border-radius: 20px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f00;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00CC04;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
